{% extends "base.html" %}
{% load staticfiles %}


<style>
{% block style %}



{% endblock %}

</style>

{% block content %}

<div class='row'>
<div class='col-sm-8'>
<h1>Dashboard</h1>

</div>



<div class='col-sm-4'>
<div class='col-sm-12'>
<h3>Matches</h3>
<hr/>
</div>
{% for match_user, percent in  matches %}
<div class='col-sm-4 text-center'>
<a href='{{ match_user.profile.get_absolute_url }}'>
{{ match_user }}
</a>

<a href='{{ match_user.profile.get_absolute_url }}'>
{% if match_user.profile.picture %}
<img src='{{ match_user.profile.picture.url }}' class='img-responsive center-block img-featured-match' />
 {% else %}
<img src='{% static "img/profile_default.jpg" %}' class='img-responsive center-block img-featured-match' />
{% endif %}
</a>


{{ percent }}
</div>
{% endfor %}



<div class='col-sm-12'>
<h3>Suggested Positions</h3>
<hr/>
</div>
{% for pos in  positions %}
<div class='col-sm-4 text-center'>
<p class='lead'><a href="{{ pos.get_match_url }}">{{ pos.job.text }}</a></p>
</div>
{% endfor %}


<div class='col-sm-12'>
<h3>Suggested Location </h3>
<hr/>
</div>
{% for pos in  locations %}
<div class='col-sm-4 text-center'>
<p class='lead'><a href="{{ pos.get_match_url }}">{{ pos.location.name }}</a></p>
</div>
{% endfor %}



<div class='col-sm-12'>
<h3>Suggested Employers</h3>
<hr/>
</div>
{% for pos in  employers %}
<div class='col-sm-4 text-center'>
<p class='lead'><a href="{{ pos.get_match_url }}">{{ pos.employer.name }}</a></p>
</div>
{% endfor %}







</div>
</div>






{% endblock %}