{% extends "base.html" %}
{% load staticfiles %}


{% block content %}

<div class='row'>
<div class='col-sm-8'>
<h1>Dashboard</h1>

</div>



<div class='col-sm-4'>
<h3>Matches</h3>
{% for match_user, percent in  matches %}
<div class='col-sm-4'>
<a href='{{ match_user.profile.get_absolute_url }}'>
{{ match_user }}
</a>


<a href='{{ match_user.profile.get_absolute_url }}'>
{% if match_user.profile.picture %}
<img src='{{ match_user.profile.picture.url }}' class='img-responsive' />
 {% else %}

<img src='{% static "img/profile_default.jpg" %}' class='img-responsive' />

{% endif %}
</a>


{{ percent }}
</div>
{% endfor %}

</div>




</div>
<!-- <form method='POST' action='' > {% csrf_token %}
<h1>{{ instance.text }}</h1>
<input type='hidden' name='question_id' value='{{ instance.id }}' />


{% for ans in instance.answer_set.all %}
<input type='radio' name='answer_id' value='{{ ans.id }}'/> {{ ans.text }} <br/>
{% endfor %}

<input type='submit' value='Save and continue' />



</form> -->



{% endblock %}