{% extends "base.html" %}



{% block content %}




<form method='POST' action='' > {% csrf_token %}
{{ form.errors }}
<h1>{{ instance.text }}</h1>
<input type='hidden' name='question_id' value='{{ instance.id }}' />

<h3>Your answer</h3>
{% for ans in instance.answer_set.all %}
<input type='radio' name='answer_id' value='{{ ans.id }}'/> {{ ans.text }} <br/>
{% endfor %}

<br/>
Importance: {{ form.importance_level }}

<h3>Your coworker's ideal answer</h3>
{% for ans in instance.answer_set.all %}
<input type='radio' name='coworker_answer_id' value='{{ ans.id }}'/> {{ ans.text }} <br/>
{% endfor %}
<input type='radio' name='coworker_answer_id' value='-1'/> Holds no importance <br/>


<br/>
Importance: {{ form.coworker_importance_level }} <br/><br/>


<input type='submit' value='Save and continue' />



</form>



{% endblock %}